<p>p</p>
<p>p</p>
<p>p</p>

<button popover-title="Example Pre-work" popover-placement="right" class="btn"
popover-html-unsafe="
<b>Pre-work Name: </b>Literature LASW 5-8
<br>
<b>Estimated Time to Complete: </b>5-10 minutes
<br>
<b>Instructions:</b>
<ul>
<li>Teachers should collect and bring at least 6 samples of student work for the assignment. Teachers should bring 2 strong samples, 2 mid-level samples, and 2 weak samples.</li>
<ul>">Example Pre-work</button>

<hr>
                    <ul>
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-primary">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-success">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-info">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-warning">Alert Badge</span></a>
                        </li>
                        <li>
                            <a href="#">Alert Name <span class="label label-danger">Alert Badge</span></a>
                        </li>
                        </ul>
