<div class="">

    <div class="row">
        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">All Sessions</div>
                <div class="panel-body">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Filter for..." ng-model="searchAll"/>
                        <span class="input-group-btn"><button class="btn btn-default" type="button">Go!</button></span>
                    </div>
                </div>
                <ul class="list-group" style="overflow:auto;height:400px">
                    <li class="list-group-item" ng-repeat="e in allsessions | filter:searchAll">
                        <div class="list-group-item-text clearfix">
                            <button class="btn btn-xs pull-right" ng-click="addToEvent(e)">Add to event</button>
                            {{e.Name}}
                            <button class="btn btn-link" ng-click="e.reveal = !e.reveal">...more</button>
                            <div ng-if="e.reveal">Other info: Owner {{e.Owner}}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">Event Sessions</div>
                <ul class="list-group" style="overflow:auto;height:400px">
                    <li class="list-group-item" ng-repeat="e in sessions">
                        <div class="list-group-item-text clearfix">
                            <button class="btn btn-xs pull-right" ng-click="removeFromEvent($index)">x</button>
                            {{e.Name}}
                            <button class="btn btn-link" ng-click="e.toggle = !e.toggle">...more</button>
                            <div ng-if="e.toggle">Other info: Owner {{e.Owner}}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
